@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  /* max-width: 1140px; */
  /* max-width: 1300px; */
  /* width: 100%; */
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
#iasis-vid{
  width:640px;
  height:277px;
}
#research-link{
  display:flex; flex-direction: column; color: blue; margin: auto; max-width: 225px;
}
.service-card{
  background-color: transparent; 
  box-shadow: 0px 0px 5px grey;
}
#container-default, #container-default2, #container-default1, #container-default3, #container-default4{
  max-width: 1140px;
}
#container-default2{
  display: flex;
  flex-direction: column;
}
.bio-text{
  margin-top: 10px;
}
.collage{
  display: flex;
  flex-direction: row;
}
.primary-blue{
  color:rgb(0, 87, 158);
}
.p-content{
  font-size: 15px;
}

.small-header{
  font-size: 1.5rem;
}
.sm-white{
  margin-bottom: 0;
  /* font-weight: bold; */
  font-size: 14px;
  max-width:394px; 
  color: white; 
  text-shadow: 1px 1px 5px black;
}
.bio{
  padding: 0 1.2rem;
  font-size: 15px;

}
.bio-card{
  padding: 20px;
}
.bio-card-div{
  height: 616px;
  background-color:#6363e5; 
  display: flex; 
  justify-content: center;
  box-shadow: 0 0 10px black; 
  border-radius:10px;
}
.bio-pic{
  border:10px white solid;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 5px white;
  max-width: 100%;
}

.card-pic{
  width: 100%; 
  height: auto;
  max-height: 500px;
}
.card-text{
  font-weight: bold;
}
.collage-services{
  width: 45%;
  margin: 5px;
  box-shadow: 0px 0px 3px #8b8a8a;
}

.col-container {
  display: flex;
  width: 100%;
}
.col {
  /* display: flex; */
  flex: 1;
  flex-direction: column;
  /* padding: 16px; */
}

.butterfly{
  width: 40px;
}
.default-row{
  padding-top: 4rem;
}
.center{
  display: flex;  
  /* justify-content: center; */
  align-items: center;
}

.services-card{
  background-color: #dddcdc;
}

.service-icon{
  height: auto;
  width: 150px;
  margin: auto;
}

/* a {
  text-decoration: none;
  color: #222;
} */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-min.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.services-card{
  padding: 3rem;
  /* background-color: #c1bbbb;  */
  justify-content: space-around;
  width:100%;
  height: 100%;
}
.icon-text{
  margin:5px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

.social-media {	margin: 0;padding: 0;	width: auto;}
.social-media li {display: inline-block;padding: 0;}
.social-media li a:hover {background-color:#ff8d1e;}
.social-media li a {display: block;	height:30px;width: 30px;text-align: center;}
.contact{
  margin:3px;
  text-shadow: 1px 1px blue;
}
.quickLinks{
  list-style-type: none;
  padding-left: 0;
}
.quickLinksDiv{
  padding-right: 0;
  padding-left: 0.45em;
}
.contact-info{
  border: 1px solid #CCC;
}

.thumb-content{
  margin-bottom: 5px;
}

.contactFooter{
  font-size: .9em;
}
.contactFooter1{
  font-size:14px;
  margin-top: 1em;
}

.contact_links, .contact_links2{
  text-decoration: none;
}

.contact_links2:hover{
  color: rgb(179, 208, 248);
}

/* Pricing page */
.round-hero{
  height: auto;
  width: 100%;
  border-radius: 50%;
  border: 7px solid white;
  display: block;
  margin: auto;
  max-height: 340px;
  max-width: fit-content;
}
#pricing-hero{
  background-color: #6363e5;
  padding-bottom: 3rem;
  background-image: url("../images/family-fun-hero-min.png");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-attachment: fixed; */
  background-position: 50% 50%; 
}

.price-header-hero{
  font-size: 2rem;
  text-shadow: 1px 1px 5px black; 
  font-weight: bold; 
  color: white;
  padding: 20px 35px;

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* max-width: 500px; */
  width: 100%;
  margin: auto;
  margin-top: 2rem;
}

td{     
  /* max-width: 400px; */
  font-weight: 600;
  color: #605d5d;
}
td, th {
  text-align: left;
  padding: 8px;
}  
/* resources page */
/* #resources-hero{

} */

#resource-header-div{
  position: relative; 
  display:flex; 
  height:100%; 
  align-items: center;
  margin: auto;
  max-width: 1140px;
}
#resource-header{
  font-size: 2rem;
  position: relative; 
  padding: 30px; 
  z-index: 2;
}
.pic-resources{
  box-shadow: 0 0 5px grey;
}
#pic-no-shadow2{
  max-height: 285px;
}
.p-resources{
  padding: 10px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

#business-front-resources{
  opacity: 0.1;
    position: absolute;
    width: 100%;
    top: 5px;
}

/* Recommendations page */
.recommended-imgs{
  width: 100%;
  height: auto;
  max-width: 300px;
  display: block;
  margin: auto;
}
/* Brain health assessment */
.tasks-ext{
  display: block;
}
.tasks-reduced{
  display: none;
}
.checkMark{
  position: relative;
  font-size: 40px;
  top: -8px;
  margin: 0 10px;
  font-weight: 900;
}
.benefits-card{
  display: flex;
  flex-direction: column;
}
.brain-health-icon{
  max-height: 100%;
  max-width: 100%;
  height: 300px;
  margin: 0px 5rem;
  color: #69befb;
}
#brain-assessment-hero{
  max-height: 100%;
}
#assessment-header-div{
  position: relative; 
  display:flex; 
  height:100%; 
  align-items: center;
  justify-content: center;
}
#assessment-header-hero{
  max-width: 500px; 
  font-size: 2rem;
  margin-left: 20px;
}
.assessment-hero-col{
  background-color: #6363e5;
  height: 450px;
}

/* Brainspotting page */

.bsp-header-text{
  padding: 20px; 
  font-weight: 800; 
  font-size: 1.7rem;
}

/* Brain Coaching */
#cert-pic{
  max-width: 100%;
  max-height: 300px;
  display: block;
  margin: auto;
}

/* Contact Form */

#contact{
  margin-top: 2rem;
  background-color: #dddcdc;
  padding: 1rem;
  border: 1px solid #6c6b6b;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea, #contact button[type="submit"], .checkbox-header { 
  font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea, .form-checkbox-section{
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover,  #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:1px solid black;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
    background:yellow; 
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}
.checkbox-header, .form-checkbox-section{
  color: #888;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}

::-webkit-input-placeholder {
 color:#888;
}

:-moz-placeholder {
 color:#888;
}

::-moz-placeholder {
 color:#888;
}

:-ms-input-placeholder {
 color:#888;
}
.form-check-label{
  font-size: 15px;
}
._form-check{
  display: inline-block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: .125rem;
  padding: 5px 20px;
}

@media (max-width: 1142px) {
  /* .collage-services{ 
    margin: 10px;
  } */
  .small-header{
    font-size: 1.25rem;
  }
  .sub-small-header{
    font-size: 1.15rem;
  }


}
/* @media (max-width: 991px) {
  #certification-div{
    flex-direction: column;
  }
} */

@media (max-width: 900px) {
 #research-link{
  display: none;
 }
 
  .tasks-ext{
    display: none;
  }
  .tasks-reduced{
    display: none;
  }

}

@media (min-width: 992px){
  .container-default, #container-default2, #container-default1, #container-default3, #container-default4{
    max-width: 1140px;
  }

}

@media (min-width: 992px) and (max-width: 1054px) {
  #resources-hero{
    max-height: 285px;
  }
  .round-hero{
    max-width:350px;
  }
  .price-header-hero{
    padding: 0 30px;
    font-size: 1.7rem;
  }
}


@media (min-width: 875px) and (max-width: 991px) {
  #cert-pic{
    max-width: 250px;
    margin: 0 1rem;  
  }
  .brain-health-icon{
    margin: 0 2rem;
  }
  #assessment-header-hero{
    font-size: 1.75rem;
  }
  .bsp-header-text{
    font-size: 1.5rem;
    padding: 10px 20px 0 20px;
  }
  #resource-header{
    font-size: 1.8rem;
  }
  #resources-hero{
    max-height: 255px;
  }
  .collage-services{
    margin: 5px;
  }
  .small-header{
    font-size: 1.3rem;
  }
  .collage{
    align-items: center;
    flex-direction: row;
  }
  .bio{
    font-size: 14px;
  }
  .service-icon{
    width: 125px;
  }
  .p-resources{
    padding: 10px 20px;
    font-size: 14px;
  }
  .round-hero{
    max-width:300px;
  }
  .price-header-hero{
    padding: 0 30px;
  }
}
@media (min-width: 830px) and (max-width: 876px) {
  #cert-pic{
    max-width: 250px;
    margin: 0 1rem;  
  }
  .brain-health-icon{
    margin: 1rem;
  }
  #brain-assessment-hero{
    max-height: 350px;
  }
  .assessment-hero-col{
    height: 100%;
  }

  #assessment-header-hero{
    font-size: 1.65rem;
  }
  .bsp-header-text{
    font-size: 1.25rem;
    padding: 10px 20px 0 20px;
  }
  .round-hero{
    max-width:300px;
  }
  .price-header-hero{
    padding: 0 30px;
  }
  #resources-hero{
    max-height: 225px;
  }
  #resource-header{
    font-size: 1.9rem;
    padding: 10px;
  }
  .p-resources{
    padding: 10px 20px;
    font-size: 14px;
  }
  .collage-services{
    margin: 5px;
    /* width: 50%; */
  }
  .small-header{
    font-size: 1.3rem;
  }
  .collage{
    align-items: center;
    flex-direction: column;
  }
  .service-icon{
    width: 110px;
  }
}
@media (min-width: 768px) and (max-width: 829px) {
  #certification-div{
    flex-direction: column;
  }
  .brain-health-icon{
    display: none;
  }
  .brain-health-benefits{
    margin:auto;
  }
  #brain-assessment-hero{
    max-height: 350px;
  }
  .assessment-hero-col{
    height: 100%;
  }

  #assessment-header-hero{
    font-size: 1.5rem;
  }
  .bsp-header-text{
    font-size: 1.25rem;
    padding: 10px 20px 0 20px;
  }
  .round-hero{
    max-width:300px;
  }
  .price-header-hero{
    padding: 0 20px;
    font-size: 1.75rem;
  }
  #resources-hero{
    max-height: 225px;
  }
  #resource-header{
    font-size: 1.8rem;
    padding: 10px;
  }
  .p-resources{
    padding: 10px 20px;
    font-size: 14px;
  }
  .service-icon{
    width: 100px;
  }
  .collage-services{
    width: 50%;
    margin: 5px;
  }
  .collage{
    align-items: center;
    flex-direction: column;
  }
  .small-header{
    font-size: 1.15rem;
  }
  .sub-small-header{
    font-size: 1rem;
  }
}
@media (min-width: 601px) and (max-width: 767px) {
  #brain-assessment-hero{
    max-height: 300px;
  }
  .assessment-hero-col{
    height: 100%;
  }

  #assessment-header-hero{
    font-size: 1.3rem;
  }
  .round-hero{
    max-width:250px;
  }
  .price-header-hero{
    /* padding: 0 20px; */
    font-size: 1.5rem;
    padding: 0;

  }
  #resource-header-div{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #resource-header{
    font-size: 1.8rem;
    padding: 0 70px;
  }
  #resources-hero{
    height: 230px;
    position: relative;
    right: -100px;
    top: 20px;

  }
}
@media (min-width: 551px) and (max-width: 600px) {
  #brain-assessment-hero{
    max-height: 270px;
  }
  .assessment-hero-col{
    height: 100%;
  }

  #assessment-header-hero{
    font-size: 1.3rem;
  }
  #resource-header-div{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #resource-header{
    font-size: 1.8rem;
    padding: 0;
  }
  #resources-hero{
    height: 210px;
    position: relative;
    top: 40px;
    right: -70px;
  }
  .round-hero{
    max-width:240px;
  }
  .price-header-hero{
    padding: 0;
    font-size: 1.3rem;
  }
}



@media (min-width: 576px) and (max-width: 767px) {
  .service-icon{
    width:100px;
  }
  .p-resources{
    padding: 10px 20px;
    font-size: 14px;
  }
}





@media (max-width: 991px) {
  #container-default, #container-default2,  #container-default1, #container-default3, #container-default4, #navbar{
    width: 100%;
    max-width: 100%;
  }
  
  #resource-header-div{
    margin:0;
    max-width: 100%;
    width: 100%;
  }
  
  .bio-card-div{
    border-radius:0%;
    box-shadow:none;
  }
  .bio-text{
    margin-top: 2rem;
  }

  .p-content{
    font-size: 14px;
  }
  
  .col{
    flex-direction: column;
    align-items: center;
  }
  #iasis-vid{
    margin-top:2rem;
  }
}
@media (max-width: 767px){
  .benefits-card{
    text-align: center;
  }
  /* .brain-health-icon{
    margin: auto;
    margin-bottom: 2rem;
  } */
  #pic-no-shadow, #pic-no-shadow2, .pic-resources{
    max-height:275px;
    margin-bottom: 2rem;
  }
  .service-card{
    border:none;
    box-shadow:none;
  }
  #s-card-1, #s-card-2, #s-card-3{
    border:none;
  }
  .services-card{
    height: auto;
    padding: 2rem;
    /* flex-direction: column; */
  }
  .collage{
    flex-direction: row;
  }
  .primary-blue.small-header{
    margin-top: 3rem;
  }
  .card-text{
    font-size: 13px;
  }
}
@media (max-width: 575px){
  .services-card{
    flex-direction:column;
  }
  .service-icon{
    width: 100px;
  }
  #about-tmc{
    padding: 0 20px;
  }
}
@media (max-width: 550px){
  #brain-assessment-hero{
    max-height: 250px;
  }
  .assessment-hero-col{
    height: 100%;
  }

  #assessment-header-hero{
    font-size: 1.15rem;
  }
  #resource-header-div{
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #resource-header{
    font-size: 1.75rem;
    padding: 0;
  }
  #resources-hero{
    height: 200px;
    position: relative;
    top: 40px;
    right: -35px;
  }
  .round-hero{
    max-width: 220px;
    border: 4px white solid;
  }
  .price-header-hero{
    font-size: 1rem;
    padding:0;
  }
}


@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}
/* @media (max-width: 575px) {
  
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
} */

